<% if options %>
  <ul class="list-group">
    <% options.each do |option| %>
      <li class="list-group-item">
        <div class="radio">
          <label>
            <input type="radio" name="option_id" value="<%=option.id%>">
            <%= option.name %>
          </label>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>