<ul class="list-group">
  <li class="list-group-item">
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios">
        Good
      </label>
    </div>
  </li>
  <li class="list-group-item">
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios">
        Excellent
      </label>
    </div>
  </li>
  <li class="list-group-item">
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios">
        Bed
      </label>
    </div>
  </li>
  <li class="list-group-item">
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios">
        Can Be Improved
      </label>
    </div>
  </li>
  <li class="list-group-item">
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios">
        No Comment
      </label>
    </div>
  </li>
</ul>