<div class="container">
  <div class="row">
      <% @polls.each do |poll|%>
        <div id="poll-item-<%=poll.id%>">
          <% if vote_before?(poll) %>
            <%= render template: 'polls/_poll_stat', locals: { poll: poll, stats: @stats } %>
          <% else %>
            <%= render template: 'polls/_poll_form', locals: { poll: poll } %>
          <% end %>
        </div>
      <% end %>
  </div>
</div>